*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "IBM Plex Sans";
  line-height: 1.6;
  background-color: #f9f9f9;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  z-index: 5;
}
h1{
  font-size: 2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 20px;
  color: #3776ab;
}
nav ul{
  list-style: none;
}
nav ul li{
  list-style: none;
  margin-bottom: 10px;
}
nav ul li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #333333;
}
nav ul li a:hover{
  color: #3776ab;
}
main{
  margin-left:300px;
  padding: 20px;
}
h2{
  font-size: 1.5rem;
  border-bottom: 2px solid #3776ab;
}
h3{
  font-size: 1.25rem;
}
h2, h3{
  margin-top: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
}
p{
  font-size: 1rem;
  text-align: justify;
  margin: 0 0 1rem 0;
}
section ul li a{
  color: #3776ab;
}
section ul li a:hover{
  color:#ffd343;
}
code{
  font-size: 0.9rem;
  background-color: #f0f0f0;
  font-family: "JetBrains Mono";
  padding: 4px 8px;
  margin: 2rem 0;
  border-radius: 4px;
  display: block;
  overflow: auto;
}
main ul{
  margin: 1rem 0 1rem 1rem;
  text-align: justify;
}
section{
  padding:2rem;
}

@media (max-width: 768px){
  header{
    position: static;
    width: 100%;
    height: unset;
    text-align: center;
  }
  main{
    margin: 0;
  }
}